<div class="container">
  <div class="col-md-12 row input-fields">
    <h1>Great Tipper</h1>

    <div class="col-md-6">
      <label>How much was your meal?</label>
      <div class="input-group input-group-lg">
        <span class="input-group-addon">$</span>
        {{input
            placeholder = "0.00"
            classNames = "form-control"
            value = mealCost
            min = 0}}
      </div>
    </div>

    <div class="col-md-6">
      <label>How much would you like to tip?</label>
      <div>
        {{tip-button
            mealCost = mealCost
            tipPercentage = 15
            setTipPercentage = "setTipPercentage" }}

        {{tip-button
            mealCost = mealCost
            tipPercentage = 18
            setTipPercentage = "setTipPercentage" }}

        {{tip-button
            mealCost = mealCost
            tipPercentage = 20
            setTipPercentage = "setTipPercentage" }}
      </div>

      <h2>OR</h2>
      
      <label>Custom:</label>
      <div class="input-group input-group-lg">
        {{input
            type = "number"
            placeholder = 20
            classNames = "form-control"
            value = tipPercentage
            min = 0}}
        <span class="input-group-addon">%</span>
      </div>

      {{#if isSomeoneBeingACheapSkate}}
        <p>Service workers make <a href="http://webapps.dol.gov/elaws/faq/esa/flsa/002.htm" target="_blank" rel="noopener">less than $3/hour</a> in most restaurants. Don't be <a href="http://i0.kym-cdn.com/photos/images/newsfeed/000/093/953/c5b.jpg" target="_blank" rel="noopener">that guy</a>.</p>
      {{/if}}
    </div>
  </div>
</div>

<div class="container row tip-calculation">
  Meal Cost: {{dollar-format mealCost}}
  <br />
  Tip: {{dollar-format tipAmount}}
  <br />
  Total: {{dollar-format totalAmount}}
  <br />
  <button class="btn btn-primary" {{action "saveAmounts"}}>Save Amounts</button>
</div>

{{#if previousAmounts}}
<div class="container">
  <table>
    <tr>
      <th>Meal Cost</th>
      <th>Tip %</th>
      <th>Tip Amount</th>
      <th>Total</th>
    </tr>

    {{#each previousAmounts as |previousAmount|}}
      <tr>
        <td>{{dollar-format previousAmount.mealCost}}</td>
        <td>{{previousAmount.tipPercentage}}%</td>
        <td>{{dollar-format previousAmount.tipAmount}}</td>
        <td>{{dollar-format previousAmount.totalAmount}}</td>
      </tr>
    {{/each}}
  </table>
</div>
{{/if}}